## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from Config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv(r"C:\Users\ancya\Documents\Vacation_Search\WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,17,Semey,KZ,5.00,broken clouds,50.41,80.23,Hotel Zhana-Tau
1,39,College,US,8.60,broken clouds,64.86,-147.80,Pike's Waterfront Lodge
2,48,Stepnogorsk,KZ,8.40,overcast clouds,52.35,71.89,Gostinitsa Stepnogorsk
3,63,Barrow,US,6.80,overcast clouds,71.29,-156.79,King Eider Inn
4,211,Vikulovo,RU,6.42,overcast clouds,56.82,70.61,"Ooo ""Sistema Stroy"""
5,219,Barsovo,RU,5.00,broken clouds,61.17,73.17,Dipanjan Goswami
6,239,Teya,RU,8.51,broken clouds,60.38,92.63,NaN
7,267,Chifeng,CN,5.27,clear sky,42.27,118.96,Junyu Tiancheng Hotel
8,278,Cherskiy,RU,5.59,scattered clouds,68.75,161.30,Gostinitsa
9,353,Kommunisticheskiy,RU,9.46,scattered clouds,61.68,64.48,NaN
10,398,Bestobe,KZ,8.17,broken clouds,52.50,73.10,NaN
11,437,Novochernorechenskiy,RU,6.84,clear sky,56.27,91.08,NaN
12,467,Chumikan,RU,5.11,overcast clouds,54.72,135.31,Fortuna
13,469,Lishu,CN,6.85,clear sky,43.30,124.33,Shengyuan Hotel Fast Food
14,472,Igarka,RU,6.71,overcast clouds,67.47,86.58,"Zapolyar'ye, Gostinitsa"

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
gmaps.configure(api_key = g_key)

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
Semey = vacation_df[vacation_df['City'].str.contains("Semey")]
Stepnogorsk = vacation_df[vacation_df['City'].str.contains("Stepnogorsk")]
Bestobe = vacation_df[vacation_df['City'].str.contains("Bestobe")]

In [6]:
cities = pd.concat([Semey, Stepnogorsk, Bestobe])
cities

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,17,Semey,KZ,5.00,broken clouds,50.41,80.23,Hotel Zhana-Tau
2,48,Stepnogorsk,KZ,8.40,overcast clouds,52.35,71.89,Gostinitsa Stepnogorsk
10,398,Bestobe,KZ,8.17,broken clouds,52.50,73.10,NaN

In [7]:
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
chosen_cities_df = cities.loc[:,['City','Lat','Lng']]
chosen_cities_df.head()

           City    Lat    Lng
0         Semey  50.41  80.23
2   Stepnogorsk  52.35  71.89
10      Bestobe  52.50  73.10

In [13]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
gmaps.configure(api_key = g_key)

RU_coord_list = list(zip(chosen_cities_df['Lat'], chosen_cities_df['Lng']))
RU_coord_list

[(50.41, 80.23), (52.35, 71.89), (52.5, 73.1)]

In [14]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
gmaps.configure(api_key= g_key)

# Latitude-longitude pairs
Semey = (50.41, 80.23)
Stepnogorsk = (52.35, 71.89)
Bestobe = (52.5, 73.1)

fig = gmaps.figure()

RU_route = gmaps.directions_layer(Semey, Semey, waypoints = [Stepnogorsk, Bestobe], travel_mode='DRIVING')
fig.add_layer(RU_route)

fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# 8. To create a marker layer map between the  cities. Combine the city DataFrames into one DataFrame using the concat() function.

Semey = vacation_df[vacation_df['City'].str.contains("Semey")]
Stepnogorsk = vacation_df[vacation_df['City'].str.contains("Stepnogorsk")]
Bestobe = vacation_df[vacation_df['City'].str.contains("Bestobe")]

itinerary = pd.concat([Semey, Stepnogorsk, Bestobe],ignore_index=True)
itinerary

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,17,Semey,KZ,5.00,broken clouds,50.41,80.23,Hotel Zhana-Tau
1,48,Stepnogorsk,KZ,8.40,overcast clouds,52.35,71.89,Gostinitsa Stepnogorsk
2,398,Bestobe,KZ,8.17,broken clouds,52.50,73.10,NaN

In [21]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary[["Lat", "Lng"]]
max_temp = itinerary["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

In [24]:
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))